* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-tamanho-14 {
  font-size: 14px;
}

.font-tamanho-16 {
  font-size: 16px;
}

.font-tamanho-18 {
  font-size: 18px;
}

.font-tamanho-20 {
  font-size: 20px;
}

.font-tamanho-24 {
  font-size: 24px;
}

.font-tamanho-28 {
  font-size: 28px;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.banner {
  display: flex;
  padding: 28px 0px;
  justify-content: center;
}

@media (max-width: 767px) {
  .imagem_banner {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .imagem_banner {
    width: 50%;
  }
}

.botao_comprar {
    background-color: #008CFF;
    border-radius: 12px;
    text-align: center;
    padding: 8px 0px;
    text-transform: uppercase;
    color: white;
}

a {
    text-decoration: none;
}

#btnAdd {
    /* position: fixed; */
    /* bottom: 20px; */
    /* right: 20px; */
    /* padding: 10px 20px; */
    background-color: #008CFF;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
